h1 {
    font-size: 58px;
    text-align: right;
    color: red;
}
h2 {
    font-size: 48px;
    color: green; 
    text-align: right;
}
p {
    font-size: 36px;
    text-align: right;
    color: blue;
}